*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
     justify-content: flex-end;
     margin-right: 20px;
}
nav{
    margin-top: 20px;
    background-color: #000000;
    width: 95%;
    border-radius: 30px;
    height: 80px;
    padding-top: 20px;
    margin-left: 40px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    
}

.navbar .sign-up{
    color: #000000;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
}
.sign-up:hover{
    background-color: #787272;
    color: #ffffff;
}
.navbar a :hover{
    color: #b80000;
    border-bottom: 2px solid #b80000;
}